<footer class=" text-lg-start">

    <h5 class=" d-flex justify-content-center mt-3">Start to create teams !</h5>
    <div class="mb-5 pb-4 d-flex justify-content-center">
      <a class="btn btn-outline-light btn-lg m-2 text-center" href="https://discord.com/api/oauth2/authorize?client_id=877212929504722975&permissions=259846569024&scope=bot" role="button" rel="nofollow" target="_blank">Invite to your server</a>
    </div>
    <br>
    
    
    

    <!-- Copyright -->
    <div class="text-center pb-2 pt-4" style="background-color: rgb(20, 20, 20);">
      <p style="font-size: 0.9rem; opacity: 0.3;">© 2021 Copyright KucingKuah</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
    <!-- End your project here-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    
  </body>
</html>
