<%- include('partials/header') %>
<br>
<br>
<br>
<br>
<div style="margin : 20rem 0 28rem 0;">
    <h2 class="d-flex justify-content-center">Feedback successfully sent!</h2>
    <p class="text-center">Thank you very much!</p>
    <div class="d-flex justify-content-center align-items-center h-100"  >
    <a class="btn btn-primary mt-5" href="/feedback" style="background-color:rgb(209, 7, 7);" role="button" rel="nofollow">Send another feedback</a>
    </div>
</div>


<%- include('partials/footer') %>